body {
    text-align: center;
}
.boxes {
    border: 1px solid;
    height: 100px;
    width: 160px;
    display: inline-block;
    margin: 10px;
    background: #e6e1b5;
    border: none;
}
.one{
    margin: 0;
    width: 65%;
}
.box {
    width: 560px;
    border: 1px solid;
    display: inline-block;
}
.box1 {
    width: 560px; 
    display: inline-grid;
    border: 1px solid;
    margin: 0 auto;
}
.box2 {
    box-sizing: border-box;
    border: 10px solid;
    display: inline-grid;
}
.box3 {
    box-sizing: border-box;
    border: 10px solid;
    /* display: inline-block; */
}
.line {
    border-bottom: 2px dashed #e6e1b5;
    margin-left: auto;
    margin-right: auto;
    width: 41%;
    margin: 40px auto;
}
h1 {
    margin-top: 60px;
}