.box {
    border: 1px solid;
    height: 120px;
    color: #fff;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}


.box1 {
    background: #e93f21b9;
}
.box2 {
    background: rgba(9, 139, 5, 0.87);
}
.box3 {
    background: rgb(155, 84, 223);
}
.box4 {
    background: rgb(55, 166, 240);
}
.box5 {
    background: #0fa868ec;
}
.box6 {
    background: #28db10ec
}
.box7 {
    background: #dfee0dec;
}
.box8 {
    background: #e9810aec;
}
.box9 {
    background: #da1111cb;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.small-box {
    width: 140px;
}
.big-box {
    width: 220px;
}
