body {
    margin: 0;
    background: linear-gradient(to right, rgb(228, 75, 177), rgb(78, 78, 224) );
}

/*
    CUSTOM CSS
*/

.plan {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 20px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    text-align: center;
}

.plan > * {
    flex: 1 1 100%;
}

.plan ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.plan ul li {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
}

.plan ul li:last-child {
    border-bottom: none;
}

.plan a {
    background: yellow;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 4px;
}

.plan h2 {
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    text-shadow: 3px 3px 0 rgba(0,0,0,0.1);
}

.price {
    font-size: 50px;
    font-family: serif;
    margin: 10px 0;
}

.pricing-grid {
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.plan .cta {
    align-self: flex-end;
}