body {
    margin: 0;
    background: #555;
}

/*
    Container
*/


.container {
    width: 80%;
    margin: 0 auto;
    
}

/*
    Header
*/

.header {
    color: #fff;
    font-size: 40px;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.4);
}

.design-container {
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto;
}

.small {
    color: #9e1919;
    font-size: 20px;
}

.time {
    color: #fff;
    font-size: 20px;
}

/*
    Heading1-Section
*/

.heading1-text {
    color: darkgrey;
}


/*
    Heading2-section
*/

.header2 {
    color: #fff;
    font-size: 40px;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.4);
}

p {
    display: grid;
    grid-gap: 30px;
}

.heading-text {
    color: darkgrey;
}


